name: Vercel Preview Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/**'
    branches:
      - deveploment

jobs:
    deploy-preview:
      permissions: write-all
      runs-on: ubuntu-latest
      steps:
        - name: Checkout Project
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - name: Use Node.js v20
          uses: actions/setup-node@v4
          with:
            node-version: 20
            cache: yarn
            registry-url: https://registry.yarnpkg.com/
        - name: Install Vercel CLI
          run: yarn add --dev vercel@latest
        - name: Pull Vercel Environment Information
          run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
        - name: Build Project Artifacts
          run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
        - name: Deploy Preview
          id: deploy
          run: echo preview_url=$(vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}) >> $GITHUB_OUTPUT
